/*** Backgrounds ***/
body {
  background-color: var(--st-bg-color-gray);
}

.st-bg-white-primary {
  background-color: var(--st-bg-card-primary-color);
}

.st-bg-white-secondary {
  background-color: var(--st-bg-card-secondary-color);
}

.st-bg-white-tertiary {
  background-color: var(--st-bg-card-tertiary-color);
}

.st-bg-green {
  background-color: var(--st-bg-color-green);
}

.st-bg-light-green {
  background-color: var(--st-color-green-2);
}

.st-bg-light-orange {
  background-color: var(--st-color-orange-0);
}

.st-bg-light-blue {
  background-color: var(--st-color-blue-1);
}

.st-bg-gray {
  background-color: var(--st-bg-card-tertiary-color);
}
