:root {
  --st-color-white-0: #FFFFFF;
  --st-color-white-1: #FBFCFC;
  --st-color-white-2: #F5F6FA;
  --st-color-white-3: #E9ECEF;

  --st-color-gray-0: #8A92A6;
  --st-color-gray-1: #ADB5BD;
  --st-color-gray-2: #E9E9E9;

  --st-color-green-0: #00ed64;

  --st-color-black-0: #000000;
}

:root {
  /***  Background  ***/
  --st-bg-color-gray: var(--st-color-white-3); /* background of the page */
  --st-bg-card-primary-color: var(--st-color-white-0); /* primary color of background card */
  --st-bg-card-secondary-color: var(--st-color-white-1); /* secondary color of background card */
  --st-bg-card-tertiary-color: var(--st-color-white-2); /* tertiary color of background card */
  --st-bg-color-green: var(--st-color-green-0);

  /***  Text  ***/
  --st-text-primary-color: var(--st-color-black-0); /* texts general */
  --st-text-secondary-color: var(--st-color-gray-0);
  --st-text-tertiary-color: var( --st-color-white-0);

  /*** Icons ***/
  --st-icon-color-gray: var(--st-color-gray-0);
  --st-icon-color-white: var(--st-color-white-0);
  
  /*** Hover ***/
  --st-hover-bg-gray: var(--st-color-gray-2);
  --st-hover-link-green: var(--st-color-green-0);
}
