.st-icon-gray {
  color: var(--st-icon-color-gray);
}

.st-icon-white {
  color: var(--st-icon-color-white);
}

.st-icon-red {
  color: var(--st-icon-color-red);
}

.st-icon-green {
  color: var(--st-icon-color-green);
}

.st-icon-dark-green {
  color: var(--st-color-green-1);
}

.st-icon-yellow {
  color: var(--st-icon-color-yellow);
}
