/*** Common Table ***/
.table-container {
  margin-bottom: 0;
  border-collapse: collapse;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}

/*** Common Table and Overwrite 'datatables' ***/
.st-table-container {
  padding: 0 0 1rem 0;
  border-radius: 0.3rem;
}

tbody {
  background-color: var(--st-bg-card-primary-color);
}

thead {
  background-color: var(--st-bg-card-tertiary-color);
}

th,
td {
  padding: 15px !important;
}

.dataTables_filter,
.dataTables_paginate {
  margin-right: 1rem !important;
}

.dataTables_info {
  position: relative;
  text-align: right;
  padding-right: 1rem;
}

